<div class="container p-5 mx-auto col-lg-5">
  <div class="bg-dark text-light rounded p-3">
    <h4>Useless Facts</h4>
  </div>

  <div class="card my-2">
    <div class="card-body">

      <p>{{uselessFact.text}}</p>

      <p class="fst-italic text-secondary small">
        Source: <a [href]="uselessFact.source_url" class="link-secondary">{{uselessFact.source}}</a>
      </p>

    </div>

    <div class="card-footer">
      <button class="btn btn-primary me-2" (click)="loadFact()">Get Fact</button>
      <button class="btn btn-primary mx-2" (click)="copyFactUrl()">Share This Fact</button>
    </div>
  </div>
</div>
